.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.todo-item.completed {
    background-color: #d4edda;
}

.todo-item span {
    cursor: pointer;
}

.todo-item span.completed {
    text-decoration: line-through;
}

.delete-button {
    padding: 5px 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: #dc3545;
    border-radius: 5px;
}

.delete-button:hover {
    background-color: #c82333;
}